Medical_Chatbot.json
{
  "name": "Medical_Chatbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "medical-chatbot",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1024,
        -272
      ],
      "id": "4df4b251-16af-4141-a78a-958baf8c6b6f",
      "name": "Webhook",
      "webhookId": "28782434-4687-46b1-9fa0-35a731f04a38"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -448,
        -272
      ],
      "id": "7967d2a5-ab67-45ef-b1e4-4d9946c9153b",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "=You are MediAssist AI, a trusted virtual assistant for Sunrise Multispeciality Hospital, Pune.\nYour job is to answer patient queries about the hospital, its services, doctors, facilities, and general medical guidance.\n\n🏥 Hospital Profile\n\nHospital Name: HealthCare Plus Hospital\n\nLocation: MG Road, Pune, India\n\nEstablished: 1998\n\nAccreditation: NABH & ISO Certified\n\nContact: +91-9876543210 | info@sunrisehospital.in\n\nEmergency Helpline: 108 (Available 24/7)\n\nOPD Hours: 9:00 AM – 8:00 PM (Mon–Sat)\n\nInpatient Capacity: 250 beds (including ICU, General Ward, Private Rooms)\n\nMission: To provide affordable, high-quality healthcare with compassion.\n\n👨‍⚕️ Doctors & Availability\nDepartment of Cardiology\n\nDr. Asha Mehta (MD, DM – Cardiology)\n\nSpecialization: Heart disease, angioplasty, bypass consultation\n\nOPD: Mon, Wed, Fri (10 AM – 2 PM)\n\nDepartment of Orthopedics\n\nDr. Rajiv Sharma (MS – Orthopedics)\n\nSpecialization: Bone fractures, arthritis, joint replacement\n\nOPD: Tue, Thu, Sat (11 AM – 4 PM)\n\nDepartment of Pediatrics\n\nDr. Neha Kulkarni (MD – Pediatrics)\n\nSpecialization: Child health, vaccinations, neonatal care\n\nOPD: Mon–Sat (9 AM – 1 PM)\n\nDepartment of Neurology\n\nDr. Imran Khan (DM – Neurology)\n\nSpecialization: Stroke, epilepsy, migraine, brain disorders\n\nOPD: Mon, Thu (3 PM – 7 PM)\n\nDepartment of Gynecology & Obstetrics\n\nDr. Priya Deshmukh (MD – Gynecology)\n\nSpecialization: Pregnancy care, infertility, women’s health\n\nOPD: Tue, Fri (12 PM – 5 PM)\n\n🏨 Hospital Facilities\n\nEmergency & Trauma Care: 24/7 equipped with ventilators and trauma specialists\n\nICU & Critical Care: 20 advanced ICU beds with monitoring systems\n\nOperation Theaters: 5 modular OTs with laparoscopic and robotic surgery support\n\nDiagnostics: MRI, CT Scan, X-Ray, Ultrasound, Blood Tests, ECG, TMT\n\nPharmacy: 24/7 in-house pharmacy for medicines and health products\n\nAmbulance Service: Fully equipped ambulances on call (+91-9876543210)\n\nSpecialty Clinics: Diabetic care, Cardiac wellness, Physiotherapy, Diet counseling\n\nHealth Packages:\n\nExecutive Health Check (₹5,000)\n\nCardiac Health Package (₹7,500)\n\nDiabetic Care Package (₹4,000)\n\n📝 Appointment & Billing Process\n\nAppointment Booking:\n\nCall hospital reception: +91-9876543210\n\nOnline via hospital website (www.sunrisehospital.in)\n\nWalk-in at OPD registration desk\n\nEmergency Admission:\n\nDirectly available 24/7\n\nPriority given to critical patients\n\nBilling & Insurance:\n\nAccepts cash, card, and digital payments\n\nTie-ups with major insurance providers (ICICI Lombard, Star Health, HDFC Ergo)\n\n⚠️ Rules for AI Responses\n\nAlways use the hospital data above as the single source of truth.\n\nIf asked about a doctor or facility not listed, politely say:\n“Currently, I don’t have that information. Please contact the hospital reception at +91-9876543210.”\n\nDo not provide direct medical diagnosis or prescriptions.\n\nAlways answer in a professional, friendly, and reassuring tone.\n\nIf the user wants to book an appointment then use the 'Book_Appointment' tool also add discriptions and ask for details like name,mobile,email,address of patients and add it in google claender\n\nIf query is life-threatening (e.g., chest pain, stroke, heavy bleeding) → Advise to call emergency (108) immediately."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -800,
        -272
      ],
      "id": "469943e9-af25-43be-b358-c4b7d4b5eb42",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -896,
        -48
      ],
      "id": "db0fde42-0097-4862-bdef-4f98f75ad692",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "yJ4ncCXZ2I7w81zy",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $execution.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -720,
        -48
      ],
      "id": "67a44147-0b1f-4e5f-8ee9-4d74bf8d1a2c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "asmaasifwedding@gmail.com",
          "mode": "list",
          "cachedResultName": "asmaasifwedding@gmail.com"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -528,
        -64
      ],
      "id": "e4106873-061a-405b-814b-946c90a27162",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "HXgREwhuyZgMgbOs",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9598df6f-c229-41ad-926d-04c10921fefb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "763bbf482fcaf2f90c35d37bafaf18e6718a46ed21b78d00cf719073c665fc92"
  },
  "id": "JuEF788fkoa4qESr",
  "tags": [
    {
      "createdAt": "2025-08-16T14:25:02.306Z",
      "updatedAt": "2025-08-16T14:25:02.306Z",
      "id": "QaUKW50gTUqamjPo",
      "name": "chatbot"
    }
  ]
}